@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  background-image: url("../assets/images/bg2.jpg");
  background-size: cover;
  cursor: url("../assets/images/footprint.png"), default;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: auto;
  font-weight: bold;
  font-size: 69px;
  font-family: "Gochi Hand", sans-serif;
  color: #ff5021;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.memory-card {
  display: grid;
  width: 300px;
  height: 280px;
  margin: 20px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  cursor: pointer;
  transition: .5s;
  background-color: navajowhite;
}

.memory-card:hover {
  transform: scale(1.1);
}

.memory-img {
  background-image: url("../assets/images/pets/snail.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 5px;
}

.memory-description {
  text-align: center;
  font-family: "Kristen ITC", sans-serif;
  letter-spacing: 0.1rem
}

.memory-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #539975;
}

.memory-quantity {
  font-size: 16px;
  color: #bc392d;
}

a {
  color: black;
  text-decoration: none;
}

.back, .front{
  display: grid;
  position: absolute;
  width: 300px;
  grid-gap: 30px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

a:hover {
  text-decoration: none;
}

.memory-img {
  background-size: cover;
}

.memory-img.pets {
  background-image: url("../assets/images/menu/pets.svg");
}

.memory-img.clothes {
  background-image: url("../assets/images/menu/clothes.jpg");
}

.memory-img.folklore {
  background-image: url("../assets/images/menu/folklore.jpg");
}

.memory-img.medieval {
  background-image: url("../assets/images/menu/medieval.jpg");
}

@media (max-width: 1100px) {

}