.switch-container {
  margin: auto 10px;
}

.switch input {
  opacity: 0;
}

.switch-btn {
  width: 80px;
  height: 40px;
  background: orange;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset 0 3px 10px rgba(0,0,0,.3);
}

.switch-btn:before {
  content: '';
  position: absolute;
  height: 36px;
  width: 36px;
  background: linear-gradient(#fff, #f2f2f2);
  left: 2px;
  top: 2px;
  transition: all 180ms ease-out;
  border-radius: 50%;
  box-shadow: 0 8px 6px -4px rgba(0,0,0,.3);
}

input[type=checkbox]:checked + .switch-btn:before {
  left: 42px;
}
input[type=checkbox]:checked + .switch-btn {
  background: salmon;
}