.memory-img.give-present {
    background-image: url("../../assets/images/activities/give-present.jpg");
}

.memory-img.basketball {
    background-image: url("../../assets/images/activities/play-basketball.jpg");
}

.memory-img.play {
    background-image: url("../../assets/images/activities/play.jpg");
}

.memory-img.tennis {
    background-image: url("../../assets/images/activities/play-tennis.jpg");
}

.memory-img.bicycle {
    background-image: url("../../assets/images/activities/bicycle.jpg");
}

.memory-img.roller-skates {
    background-image: url("../../assets/images/activities/rollerskate.jpg");
}

.memory-img.sing {
    background-image: url("../../assets/images/activities/sing.jpg");
}

.memory-img.skate {
    background-image: url("../../assets/images/activities/skating.jpg");
}

