.guinea-pig {
  background-image: url("../../assets/images/pets/guinea-pig.jpg");
}

.chameleon {
  background-image: url("../../assets/images/pets/chameleon.jpg");
}

.chameleon {
  background-image: url("../../assets/images/pets/chameleon.jpg");
}

.fish {
  background-image: url("../../assets/images/pets/fish.jpg");
}

.iguana {
  background-image: url("../../assets/images/pets/iguana.jpg");
}

.parrot {
  background-image: url("../../assets/images/pets/parrot.jpg");
}

.rabbit {
  background-image: url("../../assets/images/pets/rabbit.jpg");
}

.snail {
  background-image: url("../../assets/images/pets/snail.jpg");
}

.turtle {
  background-image: url("../../assets/images/pets/turtle.jpg");
}