.grindylow {
    background-image: url("../../assets/images/folklore/grindylow.jpg");
}
.dwarf {
    background-image: url("../../assets/images/folklore/dwarf.jpg");
}
.fairy {
    background-image: url("../../assets/images/folklore/fairy.jpg");
}
.elf {
    background-image: url("../../assets/images/folklore/elf.jpg");
}
.forester {
    background-image: url("../../assets/images/folklore/forester.jpg");
}
.witch {
    background-image: url("../../assets/images/folklore/witch.jpg");
}
.leprechaun {
    background-image: url("../../assets/images/folklore/leprechaun.jpg");
}
.talking-tree {
    background-image: url("../../assets/images/folklore/talking-tree.jpg");
}
